<!DOCTYPE html>
<html lang="pt-br" th:replace="_structure/layout :: layout(~{::title}, ~{::section})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerar Remessas</title>
</head>
<body>


<section>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
            <div class="card">
                <form action="/remessa/gerar" method="post">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5>Geração de remessa</h5>

                        <tr th:if="${!contasReceber.empty}">
                            <button class="btn btn-primary pull-right" type="submit">Gerar novo arquivo</button>
                        </tr>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive" style="padding: 20px 10px">
                            <table class="table data-table table-striped table-bordered">
                                <thead class="bg-light">
                                <tr class="border-0">
                                    <th class="border-0"></th>
                                    <th class="border-0">#</th>
                                    <th class="border-0">Status</th>
                                    <th class="border-0">Cliente</th>
                                    <th class="border-0">CNPJ</th>
                                    <th class="border-0">Serviço Prestado</th>
                                    <th class="border-0">Valor Total</th>
                                    <th class="border-0">Data Vencimento</th>
                                    <th class="border-0">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${contasReceber.empty}">
                                    <td colspan="10"> Não há contas a receber</td>
                                </tr>
                                <tr th:each="conta: ${contasReceber}">
                                    <td>
                                        <label class="custom-control custom-checkbox">
                                            <input class="custom-control-input" th:id="${conta.id}"
                                                   th:name="contasRemessa"
                                                   th:value="${conta.id}" type="checkbox">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </td>
                                    <td th:text="${conta.id}"></td>
                                    <td th:text="${#strings.capitalize(conta.status)}">
                                    </td>
                                    <td th:text="${conta.cliente.nomeFantasia}"></td>
                                    <td th:text="${conta.cliente.cnpj}"></td>
                                    <td th:text="${conta.tipoServicoPrestado.description}"></td>
                                    <td>R$<span
                                            th:text="${#numbers.formatDecimal(conta.valorTotal, 2, 2, 'COMMA')}"></span>
                                    </td>
                                    <td th:text="${#temporals.format(conta.dataVencimento, 'dd/MM/yyyy')}"></td>
                                    <td><a class="btn btn-secondary btn-small"
                                           th:href="@{'/contas-receber/view?id=' + ${conta.id}}">Editar</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
</body>
</html>