<!DOCTYPE html>
<html lang="pt-br" th:replace="_structure/layout :: layout(~{::title}, ~{::section})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contas a receber</title>
</head>
<body>
<section>
    <div class="row">
        <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header ">Contas a Receber</h5>
                <form action="#" method="post" th:action="@{/contas-receber/save}" th:object="${contaReceber}">
                    <div class="card-body">
                        <p>
                            Cadastro de contas a receber<br>
                            Para contas com boleto, informar número do boleto
                            <i>Campos com * são obrigatórios</i>
                        </p>
                        <input class="form-control" name="id" th:field="*{id}" th:type="hidden">
                        <input class="form-control" name="pontos" th:field="*{pontos}" th:type="hidden">

                        <div class="form-group">
                            <label for="input-select">Cliente*</label>
                            <select class="form-control select2" required th:field="*{cliente}">
                                <option th:each="cliente : ${clientes}"
                                        th:text="${cliente.nomeFantasia + ' - (' + cliente.cnpj + ')'}"
                                        th:value="${cliente.id}"></option>
                            </select>
                        </div>

                        <div class="form-row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <label for="input-select">Formas de Pagamento*</label>
                                <select class="form-control select2" id="input-select" required th:field="*{formaPagamento}">
                                    <option th:each="value : ${formasPagamento}" th:text="${#strings.capitalize(value)}"
                                            th:value="${value}"></option>
                                </select>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <label for="input-select">Status*</label>
                                <select class="form-control select2" required th:field="*{status}">
                                    <option th:each="value : ${allStatus}" th:text="${#strings.capitalize(value)}"
                                            th:value="${value}"></option>
                                </select>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <label class="col-form-label">Número Parcelas*</label>
                                <select class="form-control select2" required th:field="*{numParcela}">
                                    <option th:text="1"
                                            th:value="1">1
                                    </option>
                                    <option th:text="2"
                                            th:value="2">2
                                    </option>
                                    <option th:text="3"
                                            th:value="3">3
                                    </option>
                                    <option th:text="4"
                                            th:value="4">4
                                    </option>
                                    <option th:text="5"
                                            th:value="5">5
                                    </option>
                                    <option th:text="6"
                                            th:value="6">6
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <label class="col-form-label" for="valorMulta">Valor Multa (R$)*</label>
                                <input class="form-control currency" id="valorMulta" th:field="*{valorMulta}"
                                       type="text">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <label class="col-form-label" for="valorDesconto">Valor Desconto (R$)*</label>
                                <input class="form-control currency" id="valorDesconto" th:field="*{valorDesconto}"
                                       type="text">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <label class="col-form-label" for="valorTotal">Valor Total (R$)*</label>
                                <input class="form-control currency" id="valorTotal" required th:field="*{valorTotal}"
                                       type="text">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <label class="col-form-label" for="valorLiquidoRecebido">Valor Liquido Recebido (R$)</label>
                                <input class="form-control currency" id="valorLiquidoRecebido"
                                       th:field="*{valorLiquidoRecebido}" type="text">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <label class="col-form-label" for="numDocumento">Número do boleto</label>
                                <input class="form-control" maxlength="10" id="numDocumento" name="numDocumento"
                                       th:field="*{numDocumento}">
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <label class="col-form-label" for="input-select">Tipos de serviço*</label>
                                <select class="form-control select2" required th:field="*{tipoServicoPrestado}">
                                    <option th:each="value : ${tiposServico}" th:text="${value.description}"
                                            th:value="${value}"></option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="servicoPrestado">Serviço Prestado*</label>
                            <textarea class="form-control" id="servicoPrestado" required
                                      th:field="*{servicoPrestado}"></textarea>
                        </div>

                        <div class="form-row">
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12"
                                 th:if="${contaReceber.dataAlteracao != null}">
                                <label>Data Última Alteração </label>
                                <input class="form-control" disabled
                                       th:value="${#temporals.format(contaReceber.dataAlteracao, 'dd/MM/yyyy')}"
                                       type="text">
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                <label>Data Vencimento*</label>
                                <input class="form-control date-inputmask" required th:field="*{dataVencimento}"
                                       th:value="${#temporals.format(contaReceber.dataVencimento, 'dd/MM/yyyy')}"
                                       type="text">
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                <label>Data Crédito</label>
                                <input class="form-control date-inputmask" th:field="*{dataCredito}"
                                       th:value="${#temporals.format(contaReceber.dataCredito, 'dd/MM/yyyy')}"
                                       type="text">

                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                <label>Data Liquidação</label>
                                <input class="form-control date-inputmask" th:field="*{dataLiquidacao}"
                                       th:value="${#temporals.format(contaReceber.dataLiquidacao, 'dd/MM/yyyy')}"
                                       type="text">
                            </div>

                        </div>

                    </div>
                    <div class="card-footer">
                        <a class="btn secondary pull-right" href="/contas-receber">Voltar</a>
                        <button class="btn btn-primary pull-left" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


</body>
</html>