<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="navbar">

    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" th:href="@{'/home'}">TechEasy</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item dropdown nav-user">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-user-img"
                           data-toggle="dropdown" href="#" id="navbarDropdownMenuLink2"> <i class="fas fa-fw fa-bars"></i></a>
                            <div aria-labelledby="navbarDropdownMenuLink2"
                             class="dropdown-menu dropdown-menu-right nav-user-dropdown">
                            <div class="nav-user-info">
                                <span class="mb-0 text-white nav-user-name">Seja Bem Vindo(a)</span>
                                <h5 class="mb-0 text-white nav-user-name text-uppercase"
                                    th:text="${#authentication.getPrincipal().getUsername()}"></h5>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Minha Conta</a>
                            <a class="dropdown-item" th:href="@{'/logout'}"><i class="fas fa-power-off mr-2"></i>Sair</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{'/clientes'}"><i class="fa fa-fw fa-user-circle"></i>Gerenciar Cliente <span
                                    class="badge badge-success">6</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-fw fa-id-card-alt"></i>Gerenciar Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/contas-receber'}" href="#"><i class="fa fa-fw fa-file-archive"></i>Gerenciar Contas</a>
                        </li>
                        <li class="nav-item">
                            <a aria-controls="submenu-1" aria-expanded="false" class="nav-link" data-target="#submenu-1"
                               data-toggle="collapse" href="#"><i class="fas fa-fw fa-barcode"></i>Gerenciar
                                Arquivos</a>
                            <div class="collapse submenu" id="submenu-1" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a aria-controls="submenu-remessa" aria-expanded="false" class="nav-link" data-target="#submenu-remessa"
                                           data-toggle="collapse" href="#"><i class="fas fa-fw fa-barcode"></i>Remessa</a>

                                        <div class="collapse submenu" id="submenu-remessa" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/remessa">Gerar Arquivo Remessa</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/remessa/history">Histórico</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/retorno/history"><i class="fas fa-fw fa-barcode"></i>Retorno</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a aria-controls="submenu-2" aria-expanded="false" class="nav-link" data-target="#submenu-2"
                               data-toggle="collapse" href="#"><i class="fas fa-fw fa-rocket"></i>Ferramentas</a>
                            <div class="collapse submenu" id="submenu-2" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Comunicar Cliente</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Gerenciar Beneficios</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</nav>
</body>
</html>