<!DOCTYPE html>
<html lang="pt-br" th:replace="_structure/layout :: layout(~{::title}, ~{::section})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beneficios</title>
</head>
<body>


<section>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
            <div class="card">
                <form>
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5>Benefícios</h5>
                        <a class="btn btn-primary pull-right" href="/beneficios/view">Criar Novo</a>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive" style="padding: 20px 10px">
                            <table class="table data-table-default table-striped table-bordered">
                                <thead class="bg-light">
                                <tr class="border-0">
                                    <th class="border-0">#</th>
                                    <th class="border-0">Cliente</th>
                                    <th class="border-0">CPF/CNPJ</th>
                                    <th class="border-0">Descrição</th>
                                    <th class="border-0">Desconto</th>
                                    <th class="border-0">Data Validade</th>
                                    <th class="border-0">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${beneficios.empty}">
                                    <td colspan="10"> Não há benefícios</td>
                                </tr>
                                <tr th:each="beneficio: ${beneficios}">
                                    <td th:text="${beneficio.id}"></td>
                                    <td th:text="${beneficio.cliente.nomeFantasia}"></td>
                                    <td th:if="${beneficio.cliente.tipo.name() == 'F'}" class="cpf-inputmask"
                                        th:text="${beneficio.cliente.cnpj}"></td>
                                    <td th:unless="${beneficio.cliente.tipo.name() == 'F'}" class="cnpj-inputmask"
                                        th:text="${beneficio.cliente.cnpj}"></td>
                                    <td th:text="${beneficio.descricao.description}">
                                    </td>
                                    <td><div th:if="${beneficio.valorDesconto != null}">
                                        R$<span
                                            th:text="${#numbers.formatDecimal(beneficio.valorDesconto, 2, 2, 'COMMA')}"></span>
                                    </div>
                                    </td>
                                    <td th:text="${#temporals.format(beneficio.dtValidade, 'dd/MM/yyyy')}"></td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-space-between" style="flex-direction: row">
                                            <a class="btn btn-secondary btn-small mr-1"
                                               th:href="@{'/beneficios/view?id=' + ${beneficio.id}}"
                                               style="background-color: #0998b0; border-color: #0998b0;">Editar</a>
                                            <button class="btn btn-danger btn-small delete-item-btn" type="button"
                                                    th:attr="data-id=${beneficio.id}" data-url="/beneficios">Excluir
                                            </button>
                                        </div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
</body>
</html>