<!DOCTYPE html>
<html lang="pt-br" th:replace="_structure/layout :: layout(~{::title}, ~{::section})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h2 class="text-center">TeachEasy | Soluçoes em Tecnologia</h2><br>
        <p class="lead text-center">Sistema de Contas a Receber</p>
        <p class="lead text-center">Bem vindo!</p>
    </div>
</div>
</section>
</body>
</html>